body {
    font-family: Arial, sans-serif;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.tab-selector {
    width: 10rem;
    height: 3rem;
    border-radius: 5px;
    background-color: aqua;
    text-align: center;             
}

.tab-item {            
    width: 1.4rem;
    height: 1.5rem;
    line-height: 1.5rem;
    background-color: lightpink;
    display: inline-block;
    text-align: center;
    margin-top: 0.7rem;            
    border-radius: 20%;
    font-weight: bold;
}

.tab-item:hover {
    background-color: lightblue;
    cursor: pointer;
}